.main-card{
    height:400px;
}

.default-card {
    width:100%;
    display: inline-block;
    box-shadow: 0px 0px 0px 1px rgb(140 140 140/.2);
    margin-bottom:20px;
    border-radius: 0.8em;
    background-color: rgb(255, 255, 255);
}

.about-card{
    height:200px;
}

.experiences-card{
    height: 600px;
}

.content{
    margin-top: 50px;
    width: 800px;
    height: 100%;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(234, 234, 234);
}

.background-profile-cover{
    min-height:200px;
    max-height:200px;
    background-color:red;
}

.cover-img{
    
}

.display-flex{
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
}

.profile-image-div{
    margin-top: -112px;
    margin-left: 20px;
    z-index: 4;
    text-align: left!important;
    width: 150px;
    height: 150px;
}

.profile-img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-personal-infos{
    text-align: left;
    margin-left:20px;
    line-height: 1.9;
    position:relative;
    display: flex;
}

.each-experience{
    line-height: 1.5;
}

.profile-name{
    font-family: system-ui;
    font-weight: 600;
    margin: 0;
}

.profile-bio{
    font-family: system-ui;
    font-weight: 400;
    margin: 0;
    
}

.profile-location{
    font-family: system-ui;
    margin: 0;
    font-size: 15px;
    color: #00000099;
}

.current-works{
    position: absolute;
    list-style: none;
    width: 232px;
}

.current-works-div{
    margin-left:150px;
}

.each-work{
    margin-bottom:10px;
}

.img-work{
    width:25px;
    height:25px;
}

.work-description{
    font-weight: 600;
    font-family: system-ui;
}

.edit-work{
    display: flex;
    width: 100%;
    text-align: left!important;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
}

.about-title{
    font-weight: 600;
    
}

.about-content{
    font-family: system-ui;
    margin-left: 40px;
}

.competency-container{
    width:90%;
    margin-top:15px;
    height:65px;
    display: inline-block;
    box-shadow: 0px 0px 0px 1px rgb(140 140 140/.2);
    border-radius: 0.8em;
    background-color: rgb(255, 255, 255);
    font-family: system-ui;
}

.competency-desc{
    font-weight: 300;
}

.competency-infos{
    margin-top: 5px;
}

.experiences-content{
    font-family: system-ui;
    margin-left: 40px;
}

.academics-content{
    font-family: system-ui;
    margin-left: 40px;
}

.experience-company-infos{
    font-family: system-ui;
    font-weight: 600;
    margin-left: 10px;
}

.experience-company-time{
    font-weight: 400;
}

.experience-company-location{
    font-weight: 200;
}

.each-job-work-modality{
    font-weight: 400;
}

.experiences-title{
    font-weight:600;
}

.all-experiences-company{
    list-style-type: none;
}

.all-experiences-job{
    list-style-type: none;
}

.each-job{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.each-job-dot{
    position: relative;
    display: block;
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #b8b8b8;
    top: 2rem;
    left: -3.6rem;
    margin-bottom: -0.8rem;
}

.each-job-desc{
    font-family: system-ui;
    margin-top: 25px;
    font-weight:600;
    padding: 0;
}

.each-job-work-modality{
    
}

.each-job-time{
    font-weight:200;
}

.each-experience{
    display: flex;
}

.img-company-experience{
    width:50px;
    height:50px;
}

.each-job-work-desc{
    font-weight:300;
}

.academics-card{
    height: 250px;
}